a {
  text-decoration: none;
}

body {
  margin: 0px; 
}

ul {
  margin: 0px;
}

#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.vcenter {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

.csci270 {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  max-width: 1400px;
  background-color: rgb(40, 40, 50);
  color: white;
}



/* Wide screens */
@media (min-width: 1100px) {
  .csci270 {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.csci270-textlink {
  font-weight: bold;
  color: #aa55aa
}

.csci270-textlink:hover {
  font-weight: bold;
  color: magenta;
}

.csci270-lab {
  background-color: rgb(35, 105, 75);
  color: white
}

.csci270-lab:hover {
  background-color: #41FF00;
  color: black;
  font-weight:900;
}

.csci270-locked {
  background-color: darkslategray;
  color: white
}

.csci270-button {
  background-color: rgb(35, 105, 75);
  color: white
}

.csci270-button:hover {
  background-color: #41FF00;
  color: black;
}

.csci270-info {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
  color: white
}

.csci270-info:hover {
  background-color: #41FF00;
  color: black;
  font-weight: 900;
}

.csci270-welcome {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

.csci270-welcome-logo {
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
}

.teaching-assistants {
  height: 200px;
}

@media (max-width: 702px) {
  .teaching-assistants {
    height: 400px;
    width: 400px;
    align-self: center;
  }
}


.csci270-colorblock {
  padding: 10px;
  padding-top: 10px;
  flex-grow: 1;
  flex-shrink: 1;
}

.csci270-subtitle {
  font-family: "Jost";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.csci270-schedule-header {
  font-family: "Jost", monospace;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
}

.csci270-upcoming {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
}

.csci270-course-number {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
}
.csci270-text {
  font-family: "Jost";
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 670px) {
  .csci270-text {
    font-size: 12px;
  }
}

.csci270-lab-text {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
  color: white;
  font-size: 30px;
}

@media (max-width: 870px) {
  .csci270-lab-text {
    font-size: 26px;
  }
}

@media (max-width: 780px) {
  .csci270-lab-text {
    font-size: 22px;
  }
}

@media (max-width: 670px) {
  .csci270-lab-text {
    font-size: 18px;
  }
}

@media (max-width: 540px) {
  .csci270-lab-text {
    font-size: 14px;
  }
}

